{{- if (eq .chezmoi.os "linux") -}}
#!/bin/sh

if [ ! $(which cargo) ]; then
  curl https://sh.rustup.rs -sSf | sh -s -- -y
fi

sudo add-apt-repository ppa:neovim-ppa/unstable
sudo apt-get update
sudo apt-get install -y zsh neovim fzf ripgrep

cargo install starship --locked
cargo install exa --locked
cargo install zoxide --locked
cargo install zellij --locked

if [ ! $SHELL = $(which zsh) ]; then
  chsh -s $(which zsh)
fi
{{- else if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

if [ ! $(which brew) ]; then
  /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
fi

brew install neovim --HEAD
brew install zsh starship zoxide exa fzf ripgrep

if [ ! $SHELL = $(which zsh) ]; then
  sudo sh -c "echo $(which zsh) >> /etc/shells"
  chsh -s $(which zsh)
fi
{{- end -}}
